header {
    display: grid;
    grid-template-columns: 50% 1fr 1fr;
    align-items: center;
    padding: 25px;
    background-color: white;
    border-bottom: 1px solid black;
}

header a {
    text-decoration: none;
}

header a:visited {
    color: black;
}

header h3 {
    font-size: 28px;
}

header button {
    border-radius: 15px;
    font-size: 20px;
    padding: 10px;
}